
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: anybody;
    background-color: rgb(255, 173, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 350px;
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 18px;
    color: #555;
}

input[type="password"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

button {
    padding: 10px;
    font-size: 18px;
    color: white;
    background-color: rgb(219, 36, 219);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(219, 36, 219);
}

.strength-result {
    margin-top: 30px;
    font-size: 50px;
    color: #333;
    padding: 10px;
    border: 2px solid rgb(219, 36, 219);
    border-radius: 5px;
    background-color: #f9f9f9;
}

.weak {
    color: red;
    border-color: red;
}

.medium {
    color: orange;
    border-color: orange;
}

.strong {
    color: green;
    border-color: green;
}
